<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.mapper.MenuMapper">

    <select id="findAll" resultType="Menu" parameterType="int">
        SELECT * FROM M_MENU LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(MID) FROM M_MENU
    </select>

    <select id="findMenuById" parameterType="long" resultType="Menu">
        SELECT * FROM M_MENU WHERE MID = #{mid}
    </select>

    <insert id="save" parameterType="Menu">
        INSERT INTO M_MENU(NAME, PRICE, DESC) VALUES(#{name}, #{price}, #{desc})
    </insert>

    <update id="update" parameterType="Menu">
        UPDATE M_MENU SET NAME = #{name}, PRICE = #{price}
        <if test="desc != null">
            , DESC = #{desc}
        </if>
        WHERE MID = #{mid}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM M_MENU WHERE MID = #{mid}
    </delete>
</mapper>

