<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.mapper.MenuMapper">

    <resultMap id="menuMap" type="Menu">
        <id column="menu_id" property="menuId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="price" property="price"/>
        <result column="pic_url" property="picUrl"/>
        <result column="desc" property="desc" />
        <association property="type" select="com.mc.mapper.TypeMapper.findById" column="type_id" />
    </resultMap>

    <select id="findAll" resultMap="menuMap" parameterType="int">
        SELECT * FROM M_MENU
        WHERE parent_id is null or parent_id = '-1'
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(menu_id) FROM M_MENU
    </select>

    <select id="findMenuById" parameterType="long" resultMap="menuMap">
        SELECT * FROM M_MENU WHERE menu_id = #{menuId}
    </select>

    <insert id="save" parameterType="Menu">
        INSERT INTO M_MENU(`NAME`, PRICE, `DESC`, TYPE_ID) VALUES (#{name}, #{price}, #{desc}, #{type.typeId})
    </insert>

    <update id="update" parameterType="Menu">
        UPDATE M_MENU SET `NAME` = #{name}, PRICE = #{price}, TYPEID = #{type.typeId}
        <if test="desc != null">
            , `DESC` = #{desc}
        </if>
        WHERE menu_id = #{menuId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM M_MENU WHERE menu_id = #{menuId}
    </delete>
</mapper>

